$white: #ffffff;
$white-r: #F8F8F8;
$white-r-shadow: #6c515151;
$white-r-shadow-hover: #3e2f2f8a;
$white-o80: #ffffffdb;
$white-o20: #ffffff13;
$black-1: #3a3a3a;
$black-1l: #3a3a3adb;
$blacl-1ul: #3a3a3ab9;





$red: #FF6767;
$red-hover: #ff6767d3;
$red-active: #ff67679e;