$white: #ffffff;
$white-r: #F8F8F8;
$white-r-shadow: #6c515151;
$white-r-shadow-hover: #3e2f2f8a;
$white-o80: #ffffffdb;
$white-o20: #ffffff13;
$black-1: #3a3a3a;
$black-1l: #3a3a3adb;
$black-1ul: #3a3a3ab9;

$gray-1: #a1a1a1;
$gray-1-hover: #a1a1a1bd;
$gray-1-active: #a1a1a169;
$gray-1-shadow: #a1a1a123;

$gray-2: #eff1f4;
$gray-2-hover: #e3e6eb;
$gray-2-active: #d8dee4;


$red-opacity: #ff676770;
$red: #FF6767;
$red-hover: #ff6767d3;
$red-active: #ff67679e;

$select-red: #FF6767;
$select-blue: #005eff