@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
body {
    min-width: 480px;
    background-color: #f1f1f1;
}
a{
    text-decoration: none;
}
.App{
}
.content{
    padding: 20px;
}
button, input{
    outline: none;
}
.window-block{
    padding: 0 20px;
}

/* 
Цвета

основной фиолетовый #594662
фиолетовый бордер #59466285

*/