@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}
body {
    min-width: 480px;
    background-color: #F5F8FF;
    height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

#root{
    height: 100%;
}

button, input{
    outline: none;
}
/* 
Цвета

основной фиолетовый #594662
фиолетовый бордер #59466285

*/