.script-content-top{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.script-hide{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.script-button-open{
    width: 100px;
    height: 25px;
    color: #fff;
    border-radius: 10px;
    background-color: #77b374;
    border: none;
}
.script-button-open:hover{
    background-color: #70a66d;
}
.script-button-open:active{
    background-color: #689866;
}
.script-button-open i{
    margin-left: 5px;
}



/* ================================================= */



.script-content{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.script-content-list{
    margin-top: 10px;
}
.script-content-elem{
    list-style: none;
}
