.header {
    position: relative;
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 3px solid #ff9100;
    -webkit-box-shadow: 0px 10px 26px 0px rgba(255, 149, 0, 0.2);
    -moz-box-shadow: 0px 10px 26px 0px rgba(255, 149, 0, 0.2);
    box-shadow: 0px 10px 26px 0px rgba(255, 149, 0, 0.2);

    .headerBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    .headerLogoLink{
        width: 70px;
    }
    .headerLogo {
        user-select: none;
        transition: all 0.3s ease;
        width: 70px;
        height: 70px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .headerList {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s ease;

        .headerItem {
            position: relative;
            user-select: none;
            cursor: pointer;
            width: 100px;
            text-align: center;

            .headerItemLink {
                text-align: center;
                transition: all 0.3s ease;
                color: #dbdbdb;

                &:hover {
                    color: #ffb300;
                }
            }

            .headerListLine {
                transition: all 0.3s ease;
                position: absolute;
                bottom: -5px;
                width: 100%;
                height: 2px;
                background-color: #ff9100;
                transition: width 0.3s ease;
                -webkit-box-shadow: 0px 4px 5px 0px rgba(255, 179, 0, 0.1);
                -moz-box-shadow: 0px 4px 5px 0px rgba(255, 179, 0, 0.1);
                box-shadow: 0px 4px 5px 0px rgba(255, 179, 0, 0.1);
            }

            .headerItemActive1 {
                transition: all 0.3s ease;
                left: 0;
            }

            .headerItemActive2 {
                transition: all 0.3s ease;
                left: 100%;
            }

            .headerItemActive3 {
                transition: all 0.3s ease;
                left: 200%;
            }

            .headerItemActive4 {
                transition: all 0.3s ease;
                left: 300%;
            }
        }

    }

    .profilePerson {
        position: relative;
        border: 2px solid #dbdbdb;
        -webkit-box-shadow: 0px 4px 10px 0px rgba(219, 219, 219, 0.25);
        -moz-box-shadow: 0px 4px 10px 0px rgba(219, 219, 219, 0.25);
        box-shadow: 0px 4px 10px 0px rgba(219, 219, 219, 0.25);

        border-radius: 30px;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #dbdbdb;

        &:hover {
            background-color: #2a2a2a;
            border: 2px solid #2a2a2a;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(42, 42, 42, 0.25);
            -moz-box-shadow: 0px 4px 10px 0px rgba(42, 42, 42, 0.25);
            box-shadow: 0px 4px 10px 0px rgba(42, 42, 42, 0.25);
        }
    }

    .profileName {
        font-size: 16px;
        user-select: none;

        &:hover {
            color: #ffb300;
        }
    }

    .profileStatus {
        font-size: 12px;
        user-select: none;

        &:hover {
            color: #ffb300;
        }
    }

    .burgerMenu {
        border-radius: 20px;
        -webkit-box-shadow: 0px 22px 19px -2px rgba(34, 34, 34, 0.41);
        -moz-box-shadow: 0px 22px 19px -2px rgba(34, 34, 34, 0.41);
        box-shadow: 0px 22px 19px -2px rgba(34, 34, 34, 0.41);
        background-color: #2a2a2a;
        transition: all 0.3s ease;
        overflow: hidden;
        display: none;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        gap: 10px;
        padding: 15px;
        height: auto;
        position: absolute;
        top: calc(100% + 10px);
       


        .burgerMenuItem {
            user-select: none;
            cursor: pointer;
            width: 100%;
            text-align: center;
            color: #dbdbdb;

            &:hover {
                color: #ffb300;
            }
        }

        .burgerMenuItemBalance {
            font-size: 10px;
            user-select: none;
        }
    }

    .burgerMenuOpen {
        display: flex;
        animation: openMenu 0.3s forwards;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .burgerMenuClose{
        display: flex;
        opacity: 0;
        animation: closeMenu 0.3s forwards;
        transition: all 0.3s ease;
    }
}


@keyframes openMenu {
    0% {
        opacity: 0;
        display: flex;
    }

    100% {
        opacity: 1;
    }
}
@keyframes closeMenu {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}