@use '../../colors.scss' as c;

.tasksContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
    padding: 0 20px;
    padding-bottom: 20px;
    .taskList{
        border-radius: 10px;
        padding: 10px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid c.$gray-1;
        .taskItem{
            border: 1px solid c.$gray-1;
            border-radius: 5px;
            background-color: #ffffff00;
            outline: none;
            min-height: 50px;
            &:hover{
                background-color: c.$gray-2-hover;
            }
            &:active{
                background-color: c.$gray-2-active;
            }
        }
    }
    .taskDetails{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }
}