@use '../colors.scss' as c;
.notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    .notifButton{
        border: none;
        outline: none;
        background-color: c.$red;
        color: c.$white;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        &:hover{
            background-color: c.$red-hover;
        }
        &:active{
            background-color: c.$red-active;
        }
    }
}